body{
    background-color:#CDE4FF
}
p{
    color:#FF00F5;
    font-size:xx-large;
    font-family: monospace;
}
.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.nav {  
    display: flex;
    justify-content: flex-end;
    padding: var(--padding-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 100px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: var(--padding-small);
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
}

.nav__link::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: var(--padding-small);
    background: var(--text-colour);
    transition: all 0.25s;
}

.nav__link:hover {
    color: var(--secondary);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--secondary);
}